.footer {
  background-color: var(--color-dark);
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 332px 1fr;
  padding-block: 135px;
  color: var(--color-light);
}

.footer__logo .logo::after {
  background: url(../svg/footer/logo.svg) center/contain no-repeat;
}

.footer__logo-extra {
  color: var(--color-gray);
}

.footer__body {
  row-gap: clamp(80px, 5.89vw, 113px);
}

.footer__body-tagline {
  padding-top: 5px;
  max-width: 650px;
}

.footer__body-content-list {
  display: flex;
  column-gap: clamp(60px, 7.81vw, 150px);
}

.footer__body-content-title {
  font-size: clamp(16px, 0.94vw, 18px);
  line-height: 1.28;
  color: var(--color-gray);
  margin-bottom: 25px;
}

.footer__body-content-extra {
  color: var(--color-light-gray);
}

.footer__body-content-extra.text-footer a {
  color: var(--color-light-gray);
}

.footer__body-content-extra.color-dark {
  color: var(--color-gray);
}

.footer__body-content-connection a,
.footer__body-content-address address {
  font-family: var(--font-family-accent);
  font-size: clamp(13px, 0.89vw, 17px);
  font-weight: 400;
  line-height: 1.59;
  color: var(--color-light-gray);
}

.footer__body-content-connection,
.footer__body-content-address,
.footer__body-content-soc1als {
  margin-bottom: 80px;
}

.footer__body-content-soc1als {
  display: flex;
  column-gap: 20px;
}

.footer__body-content-item {
  justify-content: space-between;
}

.footer__body-content-soc1als a:hover {
  transform: scale(1.1);
}

.footer__body-content-connection a:hover {
  color: var(--color-light);
}
