@media (max-width: 1300px) {
  .inspiration__episode-card {
    column-gap: 100px;
  }
}

@media (max-width: 1140px) {
  .footer__wrapper {
    grid-template-columns: 220px 1fr;
  }
}

@media (max-width: 1024px) {
  :root {
    --header-height: 190.5px;
  }

  .header__wrapper {
    flex-wrap: wrap;
    row-gap: 25px;
  }

  .header__menu {
    order: 1;
    flex-basis: 100%;
  }

  .header__list {
    justify-content: center;
    column-gap: 70px;
  }

  .content {
    padding-top: 50px;
  }

  .inspiration__episode-card-image,
  .inspiration__player-img img {
    display: none;
  }

  .inspiration {
    row-gap: 100px;
  }

  .episodes__main-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .episodes__main-img img {
    width: 450px;
  }

  .video__play-button {
    width: 75px;
  }

  .footer__wrapper {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  .footer__body-tagline {
    padding-top: 0;
  }
}

@media (min-height: 1024px) {
  :root {
    --header-height: 190.5px;
  }

  .content {
    height: calc(70vh - var(--header-height));
  }

  .content::after {
    height: 70vh;
  }
}

@media (max-width: 860px) {
  .podcasts__card-item {
    flex-direction: column;
  }

  .podcasts__card-img img {
    border-bottom-left-radius: unset;
    border-top-right-radius: 10px;
  }

  .podcasts__card-content {
    padding: 70px 45px;
  }

  .podcasts__nav {
    column-gap: 16px;
  }

  .video__play-button {
    background-color: transparent;
    border: 1px solid var(--color-dark);
  }

  .hosts__main-list {
    display: flex;
    flex-direction: column;
    row-gap: 70px;
    align-items: center;
  }
}

@media (max-width: 730px) {
  .footer__body-content-list {
    flex-direction: column;
    row-gap: 50px;
  }

  .footer__body-content-connection,
  .footer__body-content-address,
  .footer__body-content-soc1als {
    margin-bottom: 30px;
  }

  .footer__body-tagline {
    max-width: 450px;
  }

  .footer__body-content-extra {
    border-bottom: 1px solid var(--color-dark-gray);
    width: max-content;
  }
}

@media (max-width: 700px) {
  .podcasts__nav {
    display: none;
  }

  .podcasts__card-list,
  .episodes__main-list,
  .hosts__main-list {
    row-gap: 40px;
  }

  .podcasts__card-list {
    flex-direction: column;
    scroll-snap-type: unset;
    overflow-x: unset;
  }

  .episodes__main-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .episodes {
    padding-block: 110px 130px;
  }

  .episodes__header,
  .hosts__header {
    flex-direction: column;
    row-gap: 10px;
  }
}

@media (max-width: 600px) {
  .header__list {
    column-gap: 40px;
  }

  .inspiration__player-main {
    flex-direction: column;
    row-gap: 5px;
  }

  .inspiration__player-extra img {
    display: none;
  }

  .inspiration__player {
    margin-top: -98.5px;
  }

  .video__play-button {
    border: none;
  }
}

@media (min-height: 600px) and (max-height: 700px) {
  .content {
    height: calc(125vh - var(--header-height));
  }

  .content::after {
    height: 125vh;
  }
}

@media (max-width: 470px) {
  :root {
    --header-height: 218.5px;
  }

  .header__wrapper {
    padding: 35px;
    flex-direction: column;
  }
  .header__list {
    column-gap: 20px;
  }

  .content__buttons-group {
    flex-direction: column;
    row-gap: 20px;
  }
}
