@media (max-width: 1300px) {
  .inspiration__episode-card {
    column-gap: 100px;
  }
}

@media (max-width: 1024px) {
  :root {
    --header-height: 190.5px;
  }

  .header__wrapper {
    flex-wrap: wrap;
    row-gap: 25px;
  }

  .header__menu {
    order: 1;
    flex-basis: 100%;
  }

  .header__list {
    justify-content: center;
    column-gap: 70px;
  }

  .content {
    padding-top: 50px;
  }

  .inspiration__episode-card-image,
  .inspiration__player-img img {
    display: none;
  }

  .inspiration {
    row-gap: 100px;
  }
}

@media (min-height: 1024px) {
  :root {
    --header-height: 190.5px;
  }

  .content {
    height: calc(70vh - var(--header-height));
  }

  .content::after {
    height: 70vh;
  }
}

@media (max-width: 860px) {
  .podcasts__card-item {
    flex-direction: column;
  }

  .podcasts__card-img img {
    border-bottom-left-radius: unset;
    border-top-right-radius: 10px;
  }

  .podcasts__card-content {
    padding: 100px 45px;
  }

  .podcasts__nav {
    column-gap: 16px;
  }
}

/* @media (max-width: 700px) {
  .podcasts__nav {
    display: none;
  }

  .podcasts__card-list {
    flex-direction: column;
    row-gap: 30px;
    scroll-snap-type: unset;
    overflow-x: unset;
  }
} */

@media (max-width: 600px) {
  .header__list {
    column-gap: 40px;
  }

  .inspiration__player-main {
    flex-direction: column;
    row-gap: 5px;
  }

  .inspiration__player-extra img {
    display: none;
  }

  .inspiration__player {
    margin-top: -98.5px;
  }
}

@media (min-height: 600px) and (max-height: 700px) {
  .content {
    height: calc(125vh - var(--header-height));
  }

  .content::after {
    height: 125vh;
  }
}

@media (max-width: 470px) {
  :root {
    --header-height: 218.5px;
  }

  .header__wrapper {
    padding: 35px;
    flex-direction: column;
  }
  .header__list {
    column-gap: 20px;
  }

  .content__buttons-group {
    flex-direction: column;
    row-gap: 20px;
  }
}
